<div class="header">
    <h2>Artykuły</h2>
</div>
<div class="cards">
    <div class="card-portfolio fade-in">
        <div class="card-title">
            <h4>Tytul pracy</h4>
        </div>
        <div class="firma">
            </p>logo firmy</p>
        </div>
        <div class="card-body">
            <p>Opis pracy / tagline</p>
            <p><%= link_to "Zobacz", "#" %> </p>
        </div>
    </div>
    <div class="card-portfolio fade-in">
        <div class="card-title">
            <h4>Coca-Cola</h4>
        </div>
        <div class="firma">
            <img src="https://1000logos.net/wp-content/uploads/2016/11/Coca-Cola-Logo-500x500.png">
        </div>

        <div class="card-body">
            <p>Opis pracy / tagline</p>
            <p><%= link_to "Zobacz", "#" %> </p>
        </div>
    </div><div class="card-portfolio fade-in">
        <div class="card-title">
            <h4>Coca-Cola</h4>
        </div>
        <div class="firma">
            <img src="https://1000logos.net/wp-content/uploads/2016/11/Coca-Cola-Logo-500x500.png">
        </div>

        <div class="card-body">
            <p>Opis pracy / tagline</p>
            <p><%= link_to "Zobacz", "#" %> </p>
        </div>
    </div>


</div>