<div class="main-container">
    <div class="left header">
        <h2>Dlaczego warto mi zaufać?</h2>
    </div>

    <div class="right">
        <div>
        <p >Mogę zapewnić, że moje teksty są:</p>
        <br><br>
            <div class="fade-in card-body text"><p><i class="fas fa-angle-double-right"></i><strong> oryginalne </strong>, ponieważ nie stosuję utartych sloganów</p> </div>
            <div class="fade-in card-body text"><p><i class="fas fa-angle-double-right"></i><strong> interesujące</strong> i <strong>lekkie w odbiorze</strong> - dowodzą tego opinie moich Klientów</p> </div>
            <div class="fade-in card-body text"><p><i class="fas fa-angle-double-right"></i><strong> poprawne </strong> pod względem stylistycznym, gramatycznym i interpunkcyjnym</p> </div>
     
        </div>
    </div>
</div>