<div class="header">
    <h2>Dlaczego warto mi zaufać?</h2>
</div>

<div class="center">
    <%= image_tag("typewriter.png", crop: :fill, height: 100) %>
</div>
<div class="text-center">

    <p class="fade-in">Mogę zapewnić, że moje teksty są:</p>
    <ul class="card-body">    
    <div class="fade-in"><p><i class="fas fa-angle-double-right"></i> oryginalne, ponieważ nie stosuję utartych sloganów</p> </div>
    <div class="fade-in"><p><i class="fas fa-angle-double-right"></i> interesujące i lekkie w odbiorze - dowodzą tego opinie moich Klientów</p> </div>
    <div class="fade-in"><p><i class="fas fa-angle-double-right"></i> poprawne pod względem stylistycznym, gramatycznym i interpunkcyjnym</p> </div>

</div>