<h2>Dlaczego warto mi zaufać?</h2>

<div class="center">
 <%= image_tag("typewriter.png", crop: :fill, height: 100) %>
</div>

<p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis deserunt obcaecati accusantium deleniti, reprehenderit mollitia dolores temporibus magni fugiat qui inventore exercitationem animi vero explicabo iure maxime voluptatum perferendis corrupti?</p>