<div class="main-container">
    <div class="left header">
        <h2>Dlaczego warto mi zaufać?</h2>
    </div>

    <div class="right">
        <div class="text-left">
        <h4>Mogę zapewnić, że moje teksty są:</h4>
        <br>
            <div class="fade-in card-body text"><p><i class="fas fa-pen-nib"></i><strong> oryginalne </strong>, ponieważ nie stosuję utartych sloganów</p> </div>
            <div class="fade-in card-body text"><p><i class="fas fa-pen-nib"></i><strong> interesujące</strong> i <strong>lekkie w odbiorze</strong> - dowodzą tego opinie moich Klientów</p> </div>
            <div class="fade-in card-body text"><p><i class="fas fa-pen-nib"></i><strong> poprawne </strong> pod względem stylistycznym, gramatycznym i interpunkcyjnym</p> </div>
     
        </div>
        <br><br>
       <div class="my-2">
            <p class= "fade-in">Inni o mnie:</p>
            <div class="quote fade-in my-4" style="width:90%;">
                <div style="display:flex;">
                    <i class="fas fa-quote-left"></i><p class="text text-center"><em> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis voluptatem rerum possimus hic quo mollitia, quasi molestiae modi laborum, 
                    ratione quos. Expedita reiciendis facilis neque, dolore non iure ad sapiente?</em></p> <i class="fas fa-quote-right"></i>
                </div> 
                <p class="text-center text">Imie i Nazwisko, firma</p>
            </div>  
            <div class="quote fade-in" style="width:90%;">
                <div style="display:flex;">
                    <i class="fas fa-quote-left"></i><p class="text text-center"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis voluptatem rerum possimus hic quo mollitia, quasi molestiae modi laborum, 
                    ratione quos. Expedita reiciendis facilis neque, dolore non iure ad sapiente?</p> <i class="fas fa-quote-right"></i>
                </div> 
                <p class="text-right text">Imie i Nazwisko, firma</p>
            </div>  
        </div>

    </div>
</div>