<div class="main-container">
    <div class="header left">
        <h2>Uslugi copywriter</h2>
    </div>

    <div class="right">
        <h4>Hello there</h4>
        <img class="fade-in" src="https://images.pexels.com/photos/4067126/pexels-photo-4067126.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width:100%; height:300px;
    object-fit: cover;margin:25px 0;">
        <p class="text">
        Współpracuję z właścicielami i managerami firm, marketerami, agencjami reklamowymi oraz wszystkimi osobami, które chcą rozwijać biznes i zarabiać więcej.
        Do tej pory pomogłem ponad 510 klientom w komunikacji, budowaniu marek, pozycjonowaniu stron i generowaniu większej sprzedaży.</p>
        <br><br>
        <p>Poszukujesz copywritera? <%= link_to "Skontaktuj się ze mną!", kontakt_path %> </p>
    </div>
</div>