<div class="main-container">
    <div class="header left">
        <h2>Uslugi copywriter</h2>
    </div>

    <div class="right">

    <p class="text">
    Współpracuję z właścicielami i managerami firm, marketerami, agencjami reklamowymi oraz wszystkimi osobami, które chcą rozwijać biznes i zarabiać więcej.

    Do tej pory pomogłem ponad 510 klientom w komunikacji, budowaniu marek, pozycjonowaniu stron i generowaniu większej sprzedaży.</p>
    <br><br>

    <p>Poszukujesz copywritera? <%= link_to "Skontaktuj się ze mną!", kontakt_path %>
    </p>

    </div>
</div>