<div class="header">
    <h2>Kontakt</h2>
</div>
<div class="center"></div>

<p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae nihil tempora maiores beatae doloremque mollitia impedit in omnis obcaecati, consequuntur est eos reprehenderit, adipisci pariatur error vel sed, quos natus?</p>