<div class="header">
    <h2>Kontakt</h2>
</div>

<div class=>
    <p class="text text-center">Interesuje Cię współpraca? Masz pytania?</p>
 
    <p class="text-center">Skontaktuj się ze mną!</p>
    <br>
    <p class="text-center"><i class="fas fa-phone-alt"></i><a href="tel://044589854412"> 0044589854412</a></p>
    <p class="text-center"><i class="fas fa-at"></i><a href="mailto:abcabc@mail.com"> abcabc@mail.com</a></p>
</div>
<br>
<p class="text-center">Lub skontaktuj się poprzez formularz:</p>
<div class="d-flex justify-content-center" >
    <%= render "contacts/new" %>
</div>
