<div class="main-container">

    <div class="header left">
        <h2>O mnie</h2>
    </div>
    
    <div class="right">
        <img src="https://assets.entrepreneur.com/content/3x2/2000/20200130160404-GettyImages-1062463388.jpeg?width=700&crop=2:1"/>
        <p class="text fade-in">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum repellat eum quibusdam veritatis placeat dolorum, non suscipit ut ducimus fugiat nulla a ratione. Deleniti quia neque, beatae inventore itaque veniam?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum repellat eum quibusdam veritatis placeat dolorum, non suscipit ut ducimus fugiat nulla a ratione. Deleniti quia neque, beatae inventore itaque veniam?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum repellat eum quibusdam veritatis placeat dolorum, non suscipit ut ducimus fugiat nulla a ratione. Deleniti quia neque, beatae inventore itaque veniam?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum repellat eum quibusdam veritatis placeat dolorum, non suscipit ut ducimus fugiat nulla a ratione. Deleniti quia neque, beatae inventore itaque veniam?</p>
    
        <div class="my-2">
            <p class= "fade-in">Inni o mnie:</p>
            <div class="quote fade-in my-4" style="width:90%;">
                <div style="display:flex;">
                    <i class="fas fa-quote-left"></i><p class="text text-center"><em> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis voluptatem rerum possimus hic quo mollitia, quasi molestiae modi laborum, 
                    ratione quos. Expedita reiciendis facilis neque, dolore non iure ad sapiente?</em></p> <i class="fas fa-quote-right"></i>
                </div> 
                <p class="text-center text">Imie i Nazwisko, firma</p>
            </div>  
            <div class="quote fade-in" style="width:90%;">
                <div style="display:flex;">
                    <i class="fas fa-quote-left"></i><p class="text text-center"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis voluptatem rerum possimus hic quo mollitia, quasi molestiae modi laborum, 
                    ratione quos. Expedita reiciendis facilis neque, dolore non iure ad sapiente?</p> <i class="fas fa-quote-right"></i>
                </div> 
                <p class="text-right text">Imie i Nazwisko, firma</p>
            </div>  
        </div>
    </div> 

</div>