<div class="main-container">

    <div class="header left ">
        <h2>O mnie</h2>
    </div>
    
    <div class="right">
        <img class="bw  fade-in" src="https://assets.entrepreneur.com/content/3x2/2000/20200130160404-GettyImages-1062463388.jpeg?width=700&crop=2:1" style="width:100%">
        <p class="text fade-in">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum repellat eum quibusdam veritatis placeat dolorum, non suscipit ut ducimus fugiat nulla a ratione. Deleniti quia neque, beatae inventore itaque veniam?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum repellat eum quibusdam veritatis placeat dolorum, non suscipit ut ducimus fugiat nulla a ratione. Deleniti quia neque, beatae inventore itaque veniam?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum repellat eum quibusdam veritatis placeat dolorum, non suscipit ut ducimus fugiat nulla a ratione. Deleniti quia neque, beatae inventore itaque veniam?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum repellat eum quibusdam veritatis placeat dolorum, non suscipit ut ducimus fugiat nulla a ratione. Deleniti quia neque, beatae inventore itaque veniam?</p>
        <p class="fade-in"><i class="fas fa-angle-double-right"></i><%= link_to " Sprawdź, dlaczego warto mi zaufać!", dlaczego_warto_zaufac_path %></p>
        
    </div> 

</div>