<h2>Oferta</h2>
<div class="center"></div>
<p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, neque! Molestiae sint ab voluptatum possimus expedita soluta officiis voluptatibus. Vitae reiciendis quae veritatis rerum temporibus ea eius praesentium, quasi aut!</p>