<div class="main-container">
    <div class="header left">
        <h2>Oferta</h2>
    </div>
    <div class="right">
        <div class="cards">
            <div class="card-offer fade-in">
                <div class="card-title">
                    <h4>Content marketing</h4>
                </div>
                <%= image_tag("1.png", crop: :fill, height: 100) %>
                <div class="card-body">
                    <p>Artykuły, poradniki, wpisy na blog, mogą sprzedawać i pozycjonować. A ja wiem co zrobić, aby robiły to dla Ciebie.</p>
                </div>
            </div>
            <div class="card-offer fade-in">
                <div class="card-title">
                    <h4>Content marketing</h4>
                </div>
                 <%= image_tag("2.png", crop: :fill, height: 100) %>   
                <div class="card-body">
                    <p>Artykuły, poradniki, wpisy na blog, mogą sprzedawać i pozycjonować. A ja wiem co zrobić, aby robiły to dla Ciebie.</p>
                </div>
            </div>
            <div class="card-offer fade-in">
                <div class="card-title">
                    <h4>Content marketing</h4>
                </div>
                <%= image_tag("3.png", crop: :fill, height: 100) %>
                <div class="card-body">
                    <p>Artykuły, poradniki, wpisy na blog, mogą sprzedawać i pozycjonować. A ja wiem co zrobić, aby robiły to dla Ciebie.</p>
                </div>
            </div>
            <div class="card-offer fade-in">
                <div class="card-title">
                    <h4>Content marketing</h4>
                </div>
                <%= image_tag("4.png", crop: :fill, height: 100) %>
                <div class="card-body">
                    <p>Artykuły, poradniki, wpisy na blog, mogą sprzedawać i pozycjonować. A ja wiem co zrobić, aby robiły to dla Ciebie.</p>
                </div>
            </div>
        </div>
    </div>
</div>