<div class="header">
    <h2>Oferta</h2>
</div>
<div class="center"></div>

<div class="cards">
    <div class="card-offer">
        <div class="card-title">
            <h4>Content marketing</h4>
        </div>
        <div class="card-body">
            <p>Artykuły, poradniki, wpisy na blog, mogą sprzedawać i pozycjonować. A ja wiem co zrobić, aby robiły to dla Ciebie.</p>
        </div>
    </div>
    <div class="card-offer">
        <div class="card-title">
            <h4>Content marketing</h4>
        </div>
        <div class="card-body">
            <p>Artykuły, poradniki, wpisy na blog, mogą sprzedawać i pozycjonować. A ja wiem co zrobić, aby robiły to dla Ciebie.</p>
        </div>
    </div>
    <div class="card-offer">
        <div class="card-title">
            <h4>Content marketing</h4>
        </div>
        <div class="card-body">
            <p>Artykuły, poradniki, wpisy na blog, mogą sprzedawać i pozycjonować. A ja wiem co zrobić, aby robiły to dla Ciebie.</p>
        </div>
    </div>
    <div class="card-offer">
        <div class="card-title">
            <h4>Content marketing</h4>
        </div>
        <div class="card-body">
            <p>Artykuły, poradniki, wpisy na blog, mogą sprzedawać i pozycjonować. A ja wiem co zrobić, aby robiły to dla Ciebie.</p>
        </div>
    </div>
    <div class="card-offer">
        <div class="card-title">
            <h4>Content marketing</h4>
        </div>
        <div class="card-body">
            <p>Artykuły, poradniki, wpisy na blog, mogą sprzedawać i pozycjonować. A ja wiem co zrobić, aby robiły to dla Ciebie.</p>
        </div>
    </div>

</div>