.card-article {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 480px;
    width: 330px;
    background-color: rgb(255, 255, 255);
    padding: 0 35px 10px;
    margin: 10px 5px;
    text-align: center;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.25);
   
    img {
        margin: 0;
    }

    a {
        color: black;
    }

    a:hover {

        text-decoration: none;
    }

}

.card-article:hover {
    transform: scale(1.051);
    transition: transform 300ms ease-in-out;
}